* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-weight: 700;
}

.formWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  background: #00000099;
  z-index: 9999;
}

.formWrapper form {
  background: #ffffff;
  padding: 70px 89px 70px 91px;
  width: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.formWrapper form .formTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}


.formWrapper form .successMsg {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;
  display: none;
}

.formWrapper form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.formWrapper form input::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.formWrapper form input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.formWrapper form input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.formWrapper form input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.formWrapper form .input,
select {
  width: 100%;
  padding: 20px;
  outline-style: none;
  background: #ffffff;
  border: 2px solid #bdbdbd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: grey;
}

select{
  padding-left: 15px;;
}

form .input.error {
  border: 2px solid #f85f73 !important;
}

form .input.error::-webkit-input-placeholder {
  color: #f85f73 !important;
}

form .input.error::-moz-placeholder {
  color: #f85f73 !important;
}

form .input.error:-ms-input-placeholder {
  color: #f85f73 !important;
}

form .input.error::-ms-input-placeholder {
  color: #f85f73 !important;
}

form .input.error::placeholder {
  color: #f85f73 !important;
}

.formWrapper form .formBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.formWrapper form .formBtn .send {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px 26px 11px;
  background: #3e4a70;
  cursor: pointer;
  border: none;
}

.formWrapper form .formBtn .send:hover {
  background: #3e4a7099;
}


@media screen and (max-width: 767px) {
  .formWrapper form {
    width: 100%;
    padding: 70px 16px 70px 14px;
  }
}

@media screen and (max-width: 350px) {
  .formWrapper form {
    width: 100%;
  }
}
